<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="From" value="noreply@rayonnance.fr"/>
    <add key="To" value="makbar@rayonnance.fr"/>
    <add key="Body" value="
Hi,
   This message is sent to you by a simple client to test SMTP function. 
   We can have special characters in the body like : 1 &amp; 2 are &lt; &#51;.
Bye.
&#x0D;&#x0A;"/>
    <add key="Subject" value="Message Subject"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network defaultCredentials="false" 
                 enableSsl="true" 
                 host="smtp.sendgrid.net" 
                 password="***REMOVED***" 
                 port="587" 
                 userName="apikey" />
      </smtp>
      </mailSettings>
  </system.net>
  <system.diagnostics>
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="TraceFile"/>
          <add name="TraceConsole" />
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="TraceFile"/>
          <add name="TraceConsole" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add
        name="TraceFile"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="Trace.log" />
      <add
        name="TraceConsole"
        type="System.Diagnostics.ConsoleTraceListener"
        initializeData="true" />
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
    </switches>
    <trace autoflush="true" />
  </system.diagnostics> 
</configuration>